.admissions-container {
  display: grid;
  grid-template-columns: 600px 500px;
  /* grid-template-rows: 70px auto; */
  color: black;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  background: #fff;
  border-radius: 20px;
}

.panel {
  background-color: #f0f6fa;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.panel-header h2 {
  font-size: 1.2rem;
  margin: 0;
}

.time-filters {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.btn {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 15px 10px;
  font-weight: 500;
  border: none;
}

.time-filters button:hover {
  background-color: #d0d0d0;
}

.subheading {
  font-size: 10px;
  color: #666;
  margin-top: 0.5rem;
}

.empty-state {
  color: #aaa;
  font-style: italic;
}
