.hero {
  text-align: center;
  padding: 4rem 2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cta-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.info{
    display: flex;
    gap: 2rem;
    margin: 4rem auto;
    align-items: center;
    justify-content: center;
  

}

.enclose{
background-color: #102A3E;
padding: 2rem 4rem;
}

ul{
    list-style: none;
}

.features{
    margin-top:  4rem;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}